.resource{
    background-color: #99999b;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
}
.title{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin-right: 40%;
    color:aliceblue;
}
.brief{
    margin-right: 35%;
    margin-top: 0%;
}