.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231);
  font-weight: 100;
}
.about .videoAbout{
 align-self: center;
 margin-bottom: 10%;
 margin-top: 6%;
}
.aboutTop {
  width: 100%;
  height: 45%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  padding-left: 20%;
  width: 80%;
  padding-top: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  color: rgb(124, 121, 121);
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
  padding-top: 5%;
}
