* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: aliceblue;
}
nav{
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-family: inter;
  background-color: #0B9444;
}
nav .logo{
  color: #0B013B ;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
nav .nav-links{
  display: flex;
  justify-content: space-around;
  width: 32%;
  
}
nav .nav-links a:hover{
  font-size: 20px;
  font-weight: normal;
  color: #0B013B;
}
