

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.knowmore_section{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading_knowmore_section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    padding-bottom: 0;
    color: darkgreen;
}

.knowcards_section{
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 2rem;
    
}

.flip-card {
    /* position: absolute; */
    background-color: transparent;
    height: 300px;
    width: 300px;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
  }

  

.flip-card::after{
    content: "";
    display: table;
    clear: both;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
  }

  @media screen and (max-width: 600px) {
    .flip-card-inner {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .flip-card-inner:hover {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

